{% extends "base.html" %}
{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card card-login">
                    <div class="card-content">
                        <span class="card-title">Log In</span>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <p class="red-text text-darken-2">{{ form.non_field_errors|first }}</p>
                            <div class="input-field">
                                <input id="username" name="username" type="text" class="validate" value="{{ form.username.value|default_if_none:"" }}">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field">
                                <input id="password"type="password" name="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <p class="red-text text-darken-2">{{ form.errors.password|first }}</p>
                            <div>
                                <button class="btn grey darken-2" type="submit">Log In</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
